* {
    margin:0;
    padding:0;
  }
  :root {
    --main-color: rgba(189,37,27,1);
    --title-font-size: 26px;
  }
/*...........................................main..................................*/
.main_container {
   display: grid; 
   grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
   grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
   gap: 0px;
   width:100%;
   height: 100vh; 
}
#background {
    background-image: url("./images/décor/fond-principal.png");
    background-repeat: no-repeat;
    background-size: cover;
    grid-row-start: 2;
    grid-column-start: 1;
    grid-row-end: 8;
    grid-column-end: 9; 
 }
#corner_left {
   background-image: url("./images/décor/corner_left.png"); 
   grid-row-start: 2;
   grid-column-start: 1;
   grid-row-end: 5;
   grid-column-end: 4;
   order: 2;
   background-repeat: no-repeat;
   background-size: contain;
}
#corner_right {
    background-image: url("./images/décor/corner_right2.png");
    grid-row-start: 4;
    grid-column-start: 4;
    grid-row-end: 8;
    grid-column-end: 9;
    order: 2;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
}
#shenron {
    background-image: url("./images/shenron.png");
    grid-row-start: 2;
    grid-column-start: 1;
    grid-row-end: 8;
    grid-column-end: 9;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}
#header{
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    background-color: var(--main-color); 
    grid-row-start: 1;
    grid-column-start: 1;
    grid-row-end: 2;
    grid-column-end: 9;   
     width:100%; 
}
#footer {
   background-color: var(--main-color);
   grid-row-start: 8;
   grid-column-start: 1;
   grid-row-end: 9;
   grid-column-end: 9;
   width:100%;
   flex-direction: column;  
}
.main{
    display:flex;
    flex-direction: column;
}
.mainTitle{
    text-align: center;
    font-size: 26px;
    color: aliceblue;
}
/*....................................erza.....................................*/
#erza{
    width:8rem;
    height:7rem;
}
.erza{
    opacity: 1;
    border: none;
    z-index: 2;    
}
/*...................................ikki.......................................*/
#ikki{
    width:8rem;
    height:7rem;
}
.ikki{
    opacity: 1;
    border: none;
    z-index: 2;
}
/*..................................top balls....................................*/
.boules_top{
    position: absolute;
    top: 6rem;
    left: 0px;
}
.boule {
    width: 6rem;
    height: 6rem;
    overflow: hidden;
    border: none;
    z-index: 2;
    font-size: 15px;
    font-weight: bold;
    text-shadow: -1px 1px 0px #fafafa;
}
/************************************ id boules ..................................*/
#auteur {   
    background: url("./images/décor/boule 1.png");
    background-size: 8.5rem;
    background-repeat: no-repeat;
    background-position: center center;
    opacity: 1;
    position: relative;
    left: 0.5rem;
    top: -1rem;     
}
#shonen {
    background: url("./images/décor/boule 2.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 5rem;
    opacity: 1;
    position: relative;
    top: 23rem;
    left: -5.5rem;  
}
#seinen {
    background: url("./images/décor/boule 3.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 9rem;
    opacity: 1;
    position: relative;
    top: 29rem;
    left: -12.5rem;    
}
#shojo {
    background: url("./images/décor/boule 4.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 9rem;
    opacity: 1;
    position: absolute;
    top: 33rem;
    left: 4rem;    
}
#liseuse {
    background: url("./images/décor/boule 5.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 5.5rem;
    opacity: 1;
    position: absolute;
    top: 29rem;
    left: 19rem;
}
#videos {
    width: 9rem;
    height: 9rem;
    background: url("./images/décor/boule 6.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 5.5rem;
    opacity: 1;
    position: absolute;
    top: 33.5rem;
    left: 18rem;
}
#artbooks {
    width: 9rem;
    height: 9rem;
    background: url("./images/décor/boule 7.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 5.5rem;
    opacity: 1;
    position: absolute;
    top: 37rem;
    left: 13rem;
}

/*.....................................persos sur nuages................................*/
.design_persos_petits{
    display: flex;
    justify-content: space-around;
}
.petits {
    overflow: hidden;
    border: none;
    z-index: 2;
}

#footer{
    background-color: rgba(189,37,27,1);
    grid-row-start: 8;
    grid-column-start: 1;
    grid-row-end: 9;
    grid-column-end: 9;
    width: 100%;
    flex-direction: column;
    display: flex;
    align-content: center;
    justify-content: center;
}
.buttons_footer{
    display:flex;
    justify-content: space-around;
    z-index: 2;
    margin-top: 6%;
}
/*..........................design nuages..........................*/
.design_nuages{
    display: flex;
    justify-content: space-around;
}
.nuages{
    width: 5rem;
    height: 4rem;
    background: url("./images/décor/nuage01.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1rem;
    opacity: 1;
    overflow: hidden;
    border: none;
    z-index: 2;
}
/*....................................display buttons.......................*/
#display_auteur{
    background-color: antiquewhite;
    max-height:35vh;
    max-width: 50vh;
    border-style: double;
    border-radius: 5%;
    border-color: black;
    margin:auto;
    text-align: justify;
    overflow: scroll;
    padding: 5px;
    z-index: 10;
    z-index: 10;
    position: absolute;
    top: 20vh;
    left: 1vh;
    right: -12.1vh;
}
#display_shonen{
    background-color: antiquewhite;
    max-height:35vh;
    max-width: 50vh;
    border-style: double;
    border-radius: 5%;
    border-color: black;
    margin:auto;
    text-align: justify;
    overflow: scroll;
    padding: 5px;
    z-index: 10;
    position:absolute;
    top:20%;
    z-index: 10;
    position: absolute;
    top: 20vh;
    left: 1vh;
    right: -12.1vh;
}
#display_seinen{
    background-color: antiquewhite;
    max-height:35vh;
    max-width: 50vh;
    border-style: double;
    border-radius: 5%;
    border-color: black;
    margin:auto;
    text-align: justify;
    overflow: scroll;
    padding: 5px;
    z-index: 10;
    z-index: 10;
    position: absolute;
    top: 20vh;
    left: 1vh;
    right: -12.1vh;
}
#display_shojo{
    background-color: antiquewhite;
    max-height:35vh;
    max-width: 50vh;
    border-style: double;
    border-radius: 5%;
    border-color: black;
    margin:auto;
    text-align: justify;
    overflow: scroll;
    padding: 5px;
    z-index: 10;
    z-index: 10;
    position: absolute;
    top: 20vh;
    left: 1vh;
    right: -12.1vh;
}
/*..............................container artbook.........................*/
.container_artbooks{
    display:grid;
    grid-template-rows: 7rem 7rem 7rem 7rem 7rem 7rem 7rem;
    grid-template-columns: 7rem 7rem 7rem;
    grid-row-gap: 2%;
    grid-column-gap: 2%;
    height: 50vh;
    overflow:scroll;
}
 #artbooks1 {
    grid-row-start: 1;
    grid-column-start: 1;
    grid-row-end: 2;
    grid-column-end: 2;
    height: 7rem;
    width: 7rem;
    border-color: black;
    border-radius: 5%;
    border-style:solid;
 }
 #artbooks2 {
    grid-row-start: 1;
    grid-column-start: 2;
    grid-row-end: 2;
    grid-column-end: 3;
    height: 7rem;
    width: 7rem;
    border-color: black;
    border-radius: 5%;
    border-style:solid;
 }
 #artbooks3 {
    grid-row-start: 1;
    grid-column-start: 3;
    grid-row-end: 2;
    grid-column-end: 4;
    height: 7rem;
    width: 7rem;
    border-color: black;
    border-radius: 5%;
    border-style:solid;
 }
 #artbooks4 {
    grid-row-start: 2;
    grid-column-start: 1;
    grid-row-end: 3;
    grid-column-end: 2;
    height: 7rem;
    width: 7rem;
    border-color: black;
    border-radius: 5%;
    border-style: solid;
 }
 #artbooks5 {
    grid-row-start: 2;
    grid-column-start: 2;
    grid-row-end: 3;
    grid-column-end: 3;
    height: 7rem;
    width: 7rem;
    border-color: black;
    border-radius: 5%;
    border-style: solid;
 }
 #artbooks6 {
    grid-row-start: 2;
    grid-column-start: 3;
    grid-row-end: 3;
    grid-column-end: 4;
    height: 7rem;
    width: 7rem;
    border-color: black;
    border-radius: 5%;
    border-style: solid;
 }
 #artbooks7 {
    grid-row-start: 3;
    grid-column-start: 1;
    grid-row-end: 4;
    grid-column-end: 2;
    height: 7rem;
    width: 7rem;
    border-color: black;
    border-radius: 5%;
    border-style: solid;
 }
 #artbooks8 {
    grid-row-start: 3;
    grid-column-start: 2;
    grid-row-end: 4;
    grid-column-end: 3;
    height: 7rem;
    width: 7rem;
    border-color: black;
    border-radius: 5%;
    border-style: solid;
 }
 #artbooks9 {
    grid-row-start: 3;
    grid-column-start: 3;
    grid-row-end: 4;
    grid-column-end: 4;
    height: 7rem;
    width: 7rem;
    border-color: black;
    border-radius: 5%;
    border-style: solid;
 }
 #artbooks10 {
    grid-row-start: 4;
    grid-column-start: 1;
    grid-row-end: 5;
    grid-column-end: 2;
    height: 7rem;
    width: 7rem;
    border-color: black;
    border-radius: 5%;
    border-style: solid;
 }
 #artbooks11 {
    grid-row-start: 4;
    grid-column-start: 2;
    grid-row-end: 5;
    grid-column-end: 3;
    height: 7rem;
    width: 7rem;
    border-color: black;
    border-radius: 5%;
    border-style: solid; 
 }
 #artbooks12 {
    grid-row-start: 4;
    grid-column-start: 3;
    grid-row-end: 5;
    grid-column-end: 4;
    height: 7rem;
    width: 7rem;
    border-color: black;
    border-radius: 5%;
    border-style: solid; 
 }
 #artbooks13 {
    grid-row-start: 5;
    grid-column-start: 1;
    grid-row-end: 6;
    grid-column-end: 2;
    height: 7rem;
    width: 7rem;
    border-color: black;
    border-radius: 5%;
    border-style: solid; 
 }
 #artbooks14 {
    grid-row-start: 5;
    grid-column-start: 2;
    grid-row-end: 6;
    grid-column-end: 3;
    height: 7rem;
    width: 7rem;
    border-color: black;
    border-radius: 5%;
    border-style: solid;   
 }
 #artbooks15 {
    grid-row-start: 5;
    grid-column-start: 3;
    grid-row-end: 6;
    grid-column-end: 4;
    height: 7rem;
    width: 7rem;
    border-color: black;
    border-radius: 5%;
    border-style: solid; 
 }
 #artbooks16 {
    grid-row-start: 6;
    grid-column-start: 1;
    grid-row-end: 7;
    grid-column-end: 2;
    height: 7rem;
    width: 7rem;
    border-color: black;
    border-radius: 5%;
    border-style: solid; 
 }
 #artbooks17 {
    grid-row-start: 6;
    grid-column-start: 2;
    grid-row-end: 7;
    grid-column-end: 3;
    height: 7rem;
    width: 7rem;
    border-color: black;
    border-radius: 5%;
    border-style: solid;   
 }
 #artbooks18 {
    grid-row-start: 6;
    grid-column-start: 3;
    grid-row-end: 7;
    grid-column-end: 4;
    height: 7rem;
    width: 7rem;
    border-color: black;
    border-radius: 5%;
    border-style: solid; 
 }
 #artbooks19 {
    grid-row-start: 7;
    grid-column-start: 1;
    grid-row-end: 8;
    grid-column-end: 2;
    height: 7rem;
    width: 7rem;
    border-color: black;
    border-radius: 5%;
    border-style: solid;  
 }
 #artbooks20 {
    grid-row-start: 7;
    grid-column-start: 2;
    grid-row-end: 8;
    grid-column-end: 3;
    height: 7rem;
    width: 7rem;;
    border-color: black;
    border-radius: 5%;
    border-style: solid;   
 }
 #artbooks21 {
    grid-row-start: 7;
    grid-column-start: 3;
    grid-row-end: 8;
    grid-column-end: 4;
    height: 7rem;
    width: 7rem;
    border-color: black;
    border-radius: 5%;
    border-style: solid;   
 }
#display_artbooks{
    background-color: antiquewhite;
    max-height: 80vh;
    max-width: 50vh;
    border-style: double;
    border-radius: 5%;
    border-color: black;
    margin: auto;
    text-align: justify;
    overflow: scroll;
    padding: 5px;
    z-index: 10;
    z-index: 10;
    position: absolute;
    top: 10vh;
    left: 0.5vh;
    right: 0.5vh;
}
/*....................................container liseuse.....................*/
#display_liseuse{
    background-color: antiquewhite;
    max-height: 76vh;
    max-width: 50vh;
    border-style: double;
    border-radius: 3%;
    border-color: black;
    margin: auto;
    text-align: justify;
    overflow: scroll;
    padding: 5px;
    z-index: 10;
    z-index: 10;
    position: absolute;
    top: 20vh;
    left: 0vh;
    right: 0vh;
}
/*.......................................container videos...............................*/
#display_videos{
    background-color: antiquewhite;
    max-height:65vh;
    max-width: 50vh;
    border-style: double;
    border-radius: 5%;
    border-color: black;
    margin:auto;
    text-align: justify;
    overflow: scroll;
    padding: 5px;
    z-index: 10;
    z-index: 10;
    position: absolute;
    top: 23vh;
    left: 0vh;
    right: 0vh;
}
.container_videos{
    background-image: url("./images/gallerie/groupe2.jpg");
    display: flex;
    flex-direction: column;
    height: 50vh;
    width: auto;
    overflow: scroll;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    border-radius: 5%;   
}
/*......................................videos chihiro................*/
#titre_chihiro{
    text-align: center;
    margin-top: 1%;
    margin-bottom: 1%;
    text-shadow: 1px 1px 1px black;
}
.videos_chihiro{
    border: double black;
    border-radius: 5%;
    color: var(--main-color);
    background-color: antiquewhite;
    margin-bottom: 2%;
}
/*........................................videos air gear............*/

.titre_videos{
    text-align: center;
    margin-top: 1%;
    margin-bottom: 1%;
    text-shadow: 1px 1px 1px black;
}
.videos_design{
    border: double black;
    border-radius: 5%;
    color: var(--main-color);
    background-color: antiquewhite;
    margin-bottom: 2%;
}
/*..............................slider liseuse..........................................*/
#slider {
    position: relative;
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
}
#precedent,
#suivant {
    cursor: pointer;
    transition: opacity 0.3s ease;
    opacity: 0;
    position: absolute;
    font-size: 100px;
    color: rgba(220, 220, 220, 0.8);
    background-color: rgba(0, 0, 0, 0.8);
    padding: 10px;
}
#precedent {
    left: 0;
}
#suivant {
    right: 0;
}
#slider:hover #precedent,
#slider:hover #suivant {
    opacity: 1;
}
.images_slider{
    width:100%;
    height:100%;
}
.fermeture{
    border-radius: 50%;
    border-color: rgb(0 0 0 / 80%);
    border-style: double;
    border-width: medium;
    width: 2rem;
    height: 2rem;
    background-image: url("./images/personnages/happy.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border-style: double black;
    font-size: 24px;
    z-index: 15;
}
.artbooksize{
    background-color: antiquewhite;
    max-height: 76vh;
    max-width: 44vh;
    border-style: double;
    border-radius: 3%;
    border-color: black;
    margin: auto;
    text-align: justify;
    overflow: scroll;
    padding: 5px;
    z-index: 10;
    z-index: 10;
    position: absolute;
    top: 20vh;
    left: 0vh;
    right: 0vh;
    display:none;
}
/*....................................boutons petits persos..................................*/
#display_gallerie{
    background-color: antiquewhite;
    max-height: 73vh;
    max-width: 55vh;
    border-style: double;
    border-radius: 5%;
    border-color: black;
    margin: auto;
    text-align: justify;
    overflow: scroll;
    padding: 5px;
    z-index: 10;
    z-index: 10;
    position: absolute;
    top: 13vh;
    left: 0vh;
    right: 0vh;
}
.container_gallerie{
    display: flex;
    background-color: antiquewhite;
    max-height: 65vh;
    max-width: 50vh;
    border-style: double;
    border-radius: 5%;
    border-color: black;
    margin: auto;
    overflow: scroll;
    padding: 5px;
    z-index: 10;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    align-content: center;
    flex-wrap: nowrap;
}
.button_jiraya{
    width: 6rem;
    height: 6rem;
    overflow: hidden;
    border: none;
    z-index: 2;
    font-size: 15px;
    font-weight: bold;
    text-shadow: -1px 1px 0px #fafafa;
}
#display_votreavis{
    background-color: antiquewhite;
    max-height: 73vh;
    max-width: 55vh;
    border-style: double;
    border-radius: 5%;
    border-color: black;
    margin: auto;
    text-align: justify;
    overflow: scroll;
    padding: 5px;
    z-index: 10;
    z-index: 10;
    position: absolute;
    top: 13vh;
    left: 0vh;
    right: 0vh;
}
.container_votreavis{
    display: flex;
    background-image: url("./images/décor/montagne\ trou.jpg");
    background-repeat: no-repeat;
    max-height: 65vh;
    max-width: 50vh;
    border-style: double;
    border-radius: 5%;
    border-color: black;
    margin: auto;
    overflow: scroll;
    padding: 5px;
    z-index: 10;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    align-content: center;
    flex-wrap: nowrap;
}
.button_goku{
    width: 6rem;
    height: 6rem;
    overflow: hidden;
    border: none;
    z-index: 2;
    font-size: 15px;
    font-weight: bold;
    text-shadow: -1px 1px 0px #fafafa;
}
#display_collection{
    background-color: antiquewhite;
    max-height: 75vh;
    max-width: 55vh;
    border-style: double;
    border-radius: 5%;
    border-color: black;
    margin: auto;
    text-align: justify;
    overflow: scroll;
    padding: 5px;
    z-index: 10;
    z-index: 10;
    position: absolute;
    top: 13vh;
    left: 0vh;
    right: 0vh;
}
.container_collection{
    display: flex;
    background-image: url("./images/gallerie/groupe3.jpg");
    background-repeat: no-repeat;
    max-height: 65vh;
    max-width: 50vh;
    border-style: double;
    border-radius: 5%;
    border-color: black;
    margin: auto;
    overflow: scroll;
    padding: 5px;
    z-index: 10;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    align-content: center;
    flex-wrap: nowrap;
}
.button_natsu{
    width: 6rem;
    height: 6rem;
    overflow: hidden;
    border: none;
    z-index: 2;
    font-size: 15px;
    font-weight: bold;
    text-shadow: -1px 1px 0px #fafafa;
}
.container_liste{
    background-color: antiquewhite;
    max-height: 73vh;
    max-width: 55vh;
    border-style: double;
    border-radius: 5%;
    border-color: black;
    margin: auto;
    text-align: justify;
    overflow: scroll;
    padding: 5px;
    z-index: 10;
    z-index: 10;
    position: relative;
    top: 7vh;
    left: 0vh;
    right: 0vh;
}
ul {
    list-style-type: circle;
    list-style: inside;
}
li{
    padding-bottom: 1%;
}
h2{
    color:var(--main-color);
    margin-bottom: 3%;
}
#display_contacts{
    background-color: antiquewhite;
    max-height: 73vh;
    max-width: 55vh;
    border-style: double;
    border-radius: 5%;
    border-color: black;
    margin: auto;
    text-align: justify;
    overflow: scroll;
    padding: 5px;
    z-index: 10;
    z-index: 10;
    position: absolute;
    top: 13vh;
    left: 0vh;
    right: 0vh;
}
.container_contacts{
    display: flex;
    background-image: url("./images/gallerie/groupe.jpeg");
    background-repeat: no-repeat;
    max-height: 65vh;
    max-width: 50vh;
    border-style: double;
    border-radius: 5%;
    border-color: black;
    margin: auto;
    overflow: scroll;
    padding: 5px;
    z-index: 10;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    align-content: center;
    flex-wrap: nowrap;
}
.button_ken{
    width: 6rem;
    height: 7rem;
    overflow: hidden;
    border: none;
    z-index: 2;
    font-size: 15px;
    font-weight: bold;
    text-shadow: -1px 1px 0px #fafafa;
}
.gallerie_img{
    border-style: double;
    border-radius: 1%;
    border-color: black;
    margin-bottom: 1%;
}

/*.......................................media querys .......................................*/


.card {
    width: 95%;
    border-radius: 12px;
    position: relative;
}
      
.card h2 {
    color: var(--main-color);
    font-size: 60px;
    text-transform: uppercase;
    text-shadow: 2px 2px 0 #ffffff;
}
      
.card .row {
    position: relative;
    width: 100%;
    display: grid;
    grid: auto / auto auto;
}
      
.card .row .col {
    position: relative;
    width: 100%;
    margin: 30px 20px 40px 0;
    transition: 0.5s;
}
      
.card .row .form-group {
    position: relative;
    width: 100%;
    height: 40px;
    color: #ffffff;
    text-shadow: 2px 1px 0 #ffffff;
}
      
.card .row .form-group input,
.card .row .form-group textarea {
    position: absolute;
    width: 90%;
    height: 100%;
    background: #ffffff;
    outline: none;
    font-size: 24px;
    padding: 2px 0 5px 9px;
    border: 3px double black;
    box-shadow: 3px 3px 0 var(--main-color);
    color: var(--main-color);
    border-radius: 50px;
}
      
.card .row .form-group label {
    line-height: 40px;
    color:var(--main-color);
    font-size: 24px;
    margin: 0 0 0 30px;
    display: block;
    pointer-events: none;
}
      
.row .col:nth-child(6) {
    margin-top: 64px;
}
      
.card .row .form-group input:focus,
.card .row .form-group textarea:focus {
    border: 5px solid #ffffff;
    transition: all 0.5s;
}
      
.card .row input[type="submit"] {
    border: 3px double black;
    box-shadow: 5px 5px 0 var(--main-color);
    padding: 10px;
    height: 100%;
    width: 50%;
    cursor: pointer;
    outline: none;
    background: #ffffff;
    text-transform: uppercase;
    color: var(--main-color);
    line-height: 40px;
    font-size: 24px;
    font-weight: 700;
    border-radius: 45px;
    transition: all 0.4s;
}
      
.card .row input[type="submit"]:hover {
    border: 5px solid rgba(255, 255, 255, 1);
    color: var(--main-color);
    transition: all 0.4s;
}

/*......................................media queries......................*/


@media screen and (min-width: 1080px) and (max-width: 1440px) and (min-height:2400px) and (max-height:3000px) {
    .mainTitle {
        text-shadow: 7px 4px 2px #0b0b0b;
        text-align: center;
        font-size: 100px;
        color: antiquewhite;
    }
    /*...........................persos header................................*/
    #ikki {
        filter: drop-shadow(1px 11px 4px black);
        width: 12rem;
        height: 17rem;
        position:absolute;
        top: 1%;
        left: 82%;
    }
    #erza {
        filter: drop-shadow(5px 12px 6px black);
        width: 21rem;
        height: 21rem;
        position:absolute;
        top:2%;
    }
    /*................................boules...................................*/
    .boule {
        width: 10rem;
        height: 10rem;
        overflow: hidden;
        border: none;
        z-index: 2;
        font-size: 15px;
        font-weight: bold;
        text-shadow: -1px 1px 0px #fafafa;
    }
    /*.......................................boule auteur...........................*/
    #auteur {
        filter: drop-shadow(2px 9px 7px white);
        background-size: 14.5rem;
        position: absolute;
        left: 3%;
        top: 15%;
        font-size: 27px;
    }
    #auteur {
        animation-duration: 1s;
        animation-name: filterauteur;
        animation-iteration-count: infinite;
        animation-direction: alternate;
      }
      
      @keyframes filterauteur {
        from {
            filter: drop-shadow(2px 3px 1px white);
        }
      
        to {
            filter: drop-shadow(2px 3px 10px white)
        }
    }
    
    #display_auteur {
        
        background-color: antiquewhite;
        max-height: 30vh;
        max-width: 30vh;
        border-style: double;
        border-radius: 5%;
        border-color: black;
        margin: auto;
        text-align: justify;
        overflow: scroll;
        padding: 10px;
        z-index: 10;
        position: absolute;
        top: 16vh;
        right: 54%;
        
    }
    /*................................boule shonen .............................*/
    #shonen {
        filter: drop-shadow(2px 9px 7px white);
        background-size: 8.5rem;
        opacity: 1;
        position: absolute;
        top: 15%;
        left: 26%;
        font-size: 26px;
    }
    #shonen {
        animation-duration: 1s;
        animation-name: filtershonen;
        animation-iteration-count: infinite;
        animation-direction: alternate;
      }
      
      @keyframes filtershonen {
        from {
            filter: drop-shadow(2px 3px 1px white);
        }
      
        to {
            filter: drop-shadow(2px 3px 10px white)
        }
    }
    #display_shonen {
        background-color: antiquewhite;
        max-height: 35vh;
        max-width: 41vh;
        border-style: double;
        border-radius: 5%;
        border-color: black;
        margin: auto;
        text-align: justify;
        overflow: scroll;
        padding: 5px;
        z-index: 10;
        position: absolute;
        top: 20%;
        z-index: 10;
        position: absolute;
        top: 20%;
        left: 0%;
    }
    /*...............................boule seinen.............................*/
    #seinen {
        filter: drop-shadow(2px 9px 7px white);
        background-size: 17rem;
        opacity: 1;
        position: absolute;
        top: 35%;
        left: 16%;
        font-size: 29px;
    }
    #seinen {
        animation-duration: 1s;
        animation-name: filterseinen;
        animation-iteration-count: infinite;
        animation-direction: alternate;
      }
      
      @keyframes filterseinen {
        from {
            filter: drop-shadow(2px 3px 1px white);
        }
      
        to {
            filter: drop-shadow(2px 3px 10px white)
        }
    }
    #display_seinen {
        background-color: antiquewhite;
        max-height: 35vh;
        max-width: 42vh;
        border-style: double;
        border-radius: 5%;
        border-color: black;
        margin: auto;
        text-align: justify;
        overflow: scroll;
        padding: 5px;
        z-index: 10;
        z-index: 10;
        position: absolute;
        top: 40%;
        left: 14%;
    }
    /*...............................boule shojo....................*/
    #shojo {
        filter: drop-shadow(2px 9px 7px white);
        background-size: 17.5rem;
        opacity: 1;
        position: absolute;
        top: 53%;
        left: 29%;
        font-size: 30px;
    }
    #shojo {
        animation-duration: 1s;
        animation-name: filtershojo;
        animation-iteration-count: infinite;
        animation-direction: alternate;
    }
      
      @keyframes filtershojo {
        from {
            filter: drop-shadow(2px 3px 1px white);
        }
      
        to {
            filter: drop-shadow(2px 3px 10px white)
        }
    }
    #display_shojo {
        background-color: antiquewhite;
        max-height: 35vh;
        max-width: 42vh;
        border-style: double;
        border-radius: 5%;
        border-color: black;
        margin: auto;
        text-align: justify;
        overflow: scroll;
        padding: 5px;
        z-index: 10;
        z-index: 10;
        position: absolute;
        top: 59%;
        left: 7%;
    }
    /*...............................boule liseuse...................*/
    #liseuse {
        filter: drop-shadow(2px 9px 7px white);
        background-size: 8.5rem;
        opacity: 1;
        position: absolute;
        top: 15%;
        left: 64%;
        font-size: 25px;
    }
    #liseuse {
        animation-duration: 1s;
        animation-name: filterliseuse;
        animation-iteration-count: infinite;
        animation-direction: alternate;
    }
      
      @keyframes filterliseuse {
        from {
            filter: drop-shadow(2px 3px 1px white);
        }
      
        to {
            filter: drop-shadow(2px 3px 10px white)
        }
    }
    #display_liseuse {
        background-color: antiquewhite;
        max-height: 84vh;
        max-width: 50vh;
        border-style: double;
        border-radius: 3%;
        border-color: black;
        margin: auto;
        text-align: justify;
        overflow: scroll;
        padding: 10px;
        z-index: 10;
        z-index: 10;
        position: absolute;
        top: 0vh;
        left: 0vh;
        right: 0vh;
    }
    /*.....................................boule videos...............................*/
    #videos {
        filter: drop-shadow(2px 9px 7px white);
        width: 10rem;
        height: 10rem;
        background-size: 10rem;
        opacity: 1;
        position: absolute;
        top: 34%;
        left: 74%;
        font-size: 27px;
    }
    #videos {
        animation-duration: 1s;
        animation-name: filtervideos;
        animation-iteration-count: infinite;
        animation-direction: alternate;
    }
      
      @keyframes filtervideos {
        from {
            filter: drop-shadow(2px 3px 1px white);
        }
      
        to {
            filter: drop-shadow(2px 3px 10px white)
        }
    }
    #display_videos {
        background-color: antiquewhite;
        max-height: 78vh;
        max-width: 91vh;
        border-style: double;
        border-radius: 5%;
        border-color: black;
        margin: auto;
        text-align: justify;
        overflow: scroll;
        padding: 10px;
        z-index: 10;
        z-index: 10;
        position: absolute;
        top: 5vh;
        left: 0vh;
        right: 0vh;
    }
    .container_videos {
        background-image: url("./images/gallerie/groupe2.jpg");
        display: flex;
        flex-direction: row;
        height: 67vh;
        width: auto;
        overflow: scroll;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        border-radius: 5%;
    }
    /*....................................boule artbooks..............................*/
    #artbooks {
        filter: drop-shadow(2px 9px 7px white);
        width: 11rem;
        height: 11rem;
        background-size: 10.5rem;
        opacity: 1;
        position: absolute;
        top: 50%;
        left: 58%;
        font-size: 30px;
    }
    #artbooks {
        animation-duration: 1s;
        animation-name: filterartbooks;
        animation-iteration-count: infinite;
    }

      @keyframes filterartbooks {
        from {
            filter: drop-shadow(2px 3px 1px white);
            
        }
      
        to {
            filter: drop-shadow(2px 3px 10px white);
        }        
    }
    #display_artbooks {
        background-color: antiquewhite;
        max-height: 80vh;
        max-width: 65vh;
        border-style: double;
        border-radius: 5%;
        border-color: black;
        margin: auto;
        text-align: justify;
        overflow: scroll;
        padding: 10px;
        z-index: 10;
        position: absolute;
        top: 4vh;
        left: 3.5vh;
        right: 0.5vh;
    }
    .container_artbooks {
        display: flex;
        grid-template-rows: 7rem 7rem 7rem 7rem 7rem 7rem 7rem;
        grid-template-columns: 7rem 7rem 7rem;
        grid-row-gap: 2%;
        grid-column-gap: 2%;
        height: 50vh;
        overflow: scroll;
        flex-direction: row;
        flex-wrap: wrap;        
        align-items: center;
    }
    /*..................................corners.................................*/

    #corner_left {
        width: 48%;
        height: 100%;
        position: absolute;
    } 
    #corner_right {
        width: 48%;
        height: 100%;
        position: absolute;
        left: 52%;
    }

    /*......................................petits jiraya ............................*/
    .button_jiraya {
        width: 10rem;
        height: 10rem;
        overflow: hidden;
        border: none;
        z-index: 3;
    }
    #jiraya {
        filter: drop-shadow(2px 7px 3px black);
        background: url("./images/personnages/jiraya_sur_crapaud.png");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 9rem;
        opacity: 1;
        position: absolute;
        top: 73%;
        left: 7.5%;
    }
    #jiraya {
        animation-duration: 0.5s;
        animation-name: saute;
        animation-iteration-count: infinite;
        animation-direction: alternate;
    }
      
      @keyframes saute {
        from {
          top: 73%;
          left:7.5%;
        }
      
        to {
          top: 71%;
          left:7.5%;
        }
    }
    .nuages {
        width: 9rem;
        height: 5rem;
        position: absolute;
        top: 84%;
        left: 8%;
    }
    .gallerie {
        background-color: antiquewhite;
        color: var(--main-color);
        text-shadow: 2px 1px 2px black;
        position: absolute;
        top: 93.5%;
        left: 5.5%;
        font-size: 25px;
        margin-bottom: 2%;
        border-radius: 25px;
        width: 15%;
        height: 4%;
        box-shadow: 0 8px 16px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
    }
    #display_gallerie {
        background-color: antiquewhite;
        max-height: 73vh;
        max-width: 100vh;
        border-style: double;
        border-radius: 5%;
        border-color: black;
        margin: auto;
        text-align: justify;
        overflow: scroll;
        padding: 10px;
        z-index: 10;
        z-index: 10;
        position: absolute;
        top: 13vh;
        left: 0vh;
        right: 0vh;
    }
    .container_gallerie {
        display: flex;
        background-color: antiquewhite;
        max-height: 65vh;
        max-width: 91vh;
        border-style: double;
        border-radius: 5%;
        border-color: black;
        margin: auto;
        overflow: scroll;
        padding: 10px;
        z-index: 10;
        flex-direction: column;
        align-items: stretch;
        justify-content: flex-start;
        align-content: center;
        flex-wrap: nowrap;
    }

    /*.................................... petits goku.............................*/
    .button_goku {
        width: 8rem;
        height: 12rem;
    }
    #goku {
        filter: drop-shadow(2px 7px 3px black);
        background: url("./images/personnages/goku_petit01.png");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 8rem;
        opacity: 1;
        position: absolute;
        top: 71%;
        left: 32%;
    }
    #goku {
        animation-duration: 0.5s;
        animation-name: sautegoku;
        animation-iteration-count: infinite;
        animation-direction: alternate;
    }
      
      @keyframes sautegoku {
        from {
          top: 67%;
          left:32%;
        }
      
        to {
          top: 66%;
          left:32%;
        }
    }
    #gokunuage{
        position:absolute;
        height:8%;
        width:8%;
        top:7%;
        left:0%;
    }
    #gokunuage {
        animation-duration: 3s;
        animation-name: gokunuage;
        animation-iteration-count: infinite;
    }
      
      @keyframes gokunuage {
        from {
            left:0%;
        }
      
        to {
            left:89%;
        }
    } 
    .nuages1 {
        width: 9rem;
        height: 5rem;
        position: absolute;
        top: 84%;
        left: 31.5%;
    }
    .vos_heros {
        background-color: antiquewhite;
        color: var(--main-color);
        text-shadow: 2px 1px 2px black;
        position: absolute;
        top: 93.5%;
        left: 28.5%;
        font-size: 25px;
        margin-bottom: 2%;
        border-radius: 25px;
        width: 15%;
        height: 4%;
        box-shadow: 0 8px 16px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
    }
    #display_votreavis {
        background-color: antiquewhite;
        max-height: 73vh;
        max-width: 84vh;
        border-style: double;
        border-radius: 5%;
        border-color: black;
        margin: auto;
        text-align: justify;
        overflow: scroll;
        padding: 10px;
        z-index: 10;
        z-index: 10;
        position: absolute;
        top: 13vh;
        left: 0vh;
        right: 0vh;
    }
    .container_votreavis {
        display: flex;
        background-image: url("./images/décor/montagne\ trou.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 100%;
        max-height: 65vh;
        max-width: 75vh;
        border-style: double;
        border-radius: 5%;
        border-color: black;
        margin: auto;
        overflow: scroll;
        padding: 5px;
        z-index: 10;
        flex-direction: column;
        align-items: stretch;
        justify-content: space-between;
        align-content: center;
        flex-wrap: nowrap;
    }
    /*..................................petit natsu......................................*/
    .button_natsu {
        width: 9rem;
        height: 12rem;
    }
    #natsu {
        filter: drop-shadow(2px 7px 3px black);
        background: url("./images/personnages/natsu01.png");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 13rem;
        opacity: 1;
        position: absolute;
        top: 69%;
        left: 57%;
    }
    #natsu {
        animation-duration: 0.5s;
        animation-name: sautenatsu;
        animation-iteration-count: infinite;
        animation-direction: alternate;
    }
      
      @keyframes sautenatsu {
        from {
          top: 69%;
          left:57%;
        }
      
        to {
          top: 68%;
          left:57%;
        }
    } 
    .nuages2 {
        width: 9rem;
        height: 5rem;
        position: absolute;
        top: 84%;
        left: 57%;
    }
    .ma_collection {
        background-color: antiquewhite;
        color: var(--main-color);
        text-shadow: 2px 1px 2px black;
        position: absolute;
        top: 93.5%;
        left: 54.5%;
        font-size: 25px;
        margin-bottom: 2%;
        border-radius: 25px;
        width: 15%;
        height: 4%;
        box-shadow: 0 8px 16px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
    }
    .container_collection {
        display: flex;
        background-image: url("./images/gallerie/groupe3.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        max-height: 63vh;
        max-width: 84vh;
        border-style: double;
        border-radius: 5%;
        border-color: black;
        margin: auto;
        overflow: scroll;
        padding: 5px;
        z-index: 10;
        flex-direction: column;
        align-items: stretch;
        justify-content: space-between;
        align-content: center;
        flex-wrap: wrap;
    }    
    #display_collection {
        background-color: antiquewhite;
        max-height: 73vh;
        max-width: 91vh;
        border-style: double;
        border-radius: 5%;
        border-color: black;
        margin: auto;
        text-align: justify;
        overflow: scroll;
        padding: 10px;
        z-index: 10;
        position: absolute;
        top: 13vh;
        left: 0vh;
        right: 0vh;
    }
    .container_liste {
        display: flex;
        background-color: antiquewhite;
        max-height: 50%;
        max-width: 77%;
        border-style: double;
        border-radius: 5%;
        border-color: black;
        margin: auto;
        text-align: justify;
        overflow: scroll;
        padding: 5px;
        z-index: 10;
        z-index: 10;
        flex-direction: column;
        align-items: center;
    }
    /*.....................................petit ken.......................................*/
    .button_ken {
        height: 17rem;
    }
    #ken {
        filter: drop-shadow(2px 7px 3px black);
        background: url("./images/personnages/ken.png");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 7rem;
        opacity: 1;
        position: absolute;
        top: 64%;
        left: 84%;
    }
    #ken {
        animation-duration: 0.5s;
        animation-name: sauteken;
        animation-iteration-count: infinite;
        animation-direction: alternate;
      }
      
      @keyframes sauteken {
        from {
          top: 64%;
          left:84%;
        }
      
        to {
          top: 63%;
          left:84%;
        }
    } 
    .nuages3 {
        width: 9rem;
        height: 5rem;
        position: absolute;
        top: 84%;
        left: 83%;
    }
    .contacts {
        background-color: antiquewhite;
        color: var(--main-color);
        text-shadow: 2px 1px 2px black;
        position: absolute;
        top: 93.5%;
        left: 80%;
        font-size: 25px;
        margin-bottom: 2%;
        border-radius: 25px;
        width: 15%;
        height: 4%;
        box-shadow: 0 8px 16px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
    }
    #display_contacts {
        background-color: antiquewhite;
        max-height: 77vh;
        max-width: 59vh;
        border-style: double;
        border-radius: 5%;
        border-color: black;
        margin: auto;
        text-align: justify;
        overflow: scroll;
        padding: 10px;
        z-index: 10;
        z-index: 10;
        position: absolute;
        top: 20vh;
        left: 0vh;
        right: 0vh;
    }
    .container_contacts {
        display: flex;
        background-image: url("./images/gallerie/groupe.jpeg");
        background-repeat: no-repeat;
        max-height: 67vh;
        max-width: 55vh;
        border-style: double;
        border-radius: 5%;
        border-color: black;
        margin: auto;
        overflow: scroll;
        padding: 5px;
        z-index: 10;
        flex-direction: column;
        align-items: stretch;
        justify-content: space-between;
        align-content: center;
        flex-wrap: nowrap;
    }
    
} 


  
