* {
    box-sizing: border-box;
    margin:0;
    padding:0;
  }

body {
    font-size: 14px;
  }
  .main {
    width: 100%;
    height: 1024px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .main-background {
    width: 100%;
    height: 100%;
    background: url("../images/décor/fond-principal.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v2_3 {
    width: 100%;
    height: 140px;
    background: rgba(189,37,27,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .footer {
    width: 100%;
    height: 100px;
    background: rgba(189,37,27,1);
    opacity: 1;
    position: absolute;
    top: 924px;
    left: 0px;
    overflow: hidden;
  }
  .leftcorner {
    width: 713px;
    height: 335px;
    background: rgba(189,37,27,1);
    opacity: 1;
    position: absolute;
    top: 154px;
    left: 0px;
  }
  .v2_6 {
    width: 713px;
    height: 335px;
    background: rgba(187,39,39,1);
    opacity: 1;
    position: absolute;
    top: 913px;
    left: 225px;
  }
  .boule1 {
    width: 150px;
    height: 150px;
    background: url("../images/décor/boule 1.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 464px;
    left: 367px;
    overflow: hidden;
  }
  .boule4 {
    width: 150px;
    height: 150px;
    background: url("../images/décor/boule 4.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 460px;
    left: 900px;
    overflow: hidden;
  }
  .boule5 {
    width: 124px;
    height: 118px;
    background: url("../images/décor/boule 5.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 340px;
    left: 860px;
    overflow: hidden;
  }
  .boule6 {
    width: 110px;
    height: 110px;
    background: url("../images/décor/boule 6.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 250px;
    left: 650px;
    overflow: hidden;
  }
  .v8_25 {
    width: 200px;
    height: 115px;
    background: url("../images/v8_25.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 865px;
    left: 53px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
    overflow: hidden;
  }
  .v8_27 {
    width: 174px;
    height: 211px;
    background: url("../images/v8_27.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 711px;
    left: 236px;
    overflow: hidden;
  }
  .v8_33 {
    width: 117px;
    color: rgba(255,254,254,1);
    position: absolute;
    top: 980px;
    left: 93px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
    font-family: Hind Madurai;
    font-weight: SemiBold;
    font-size: 24px;
    opacity: 1;
    text-align: center;
  }
  .v8_28 {
    width: 200px;
    height: 114px;
    background: url("../images/v8_28.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 868px;
    left: 302px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
    overflow: hidden;
  }
  .v8_32 {
    width: 206px;
    color: rgba(255,254,254,1);
    position: absolute;
    top: 982px;
    left: 296px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
    font-family: Hind Madurai;
    font-weight: SemiBold;
    font-size: 24px;
    opacity: 1;
    text-align: center;
  }
  .v8_35 {
    width: 205px;
    height: 248px;
    background: url("../images/v8_35.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 692px;
    left: 299px;
    overflow: hidden;
  }
  .boule3 {
    width: 180px;
    height: 180px;
    background: url("../images/décor/boule 3.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 610px;
    left: 750px;
    overflow: hidden;
  }
  .v8_29 {
    width: 200px;
    height: 114px;
    background: url("../images/v8_29.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 870px;
    left: 291px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
    overflow: hidden;
  }
  .v8_31 {
    width: 149px;
    color: rgba(255,254,254,1);
    position: absolute;
    top: 984px;
    left: 277px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
    font-family: Hind Madurai;
    font-weight: SemiBold;
    font-size: 24px;
    opacity: 1;
    text-align: center;
  }
  .v8_36 {
    width: 237px;
    height: 232px;
    background: url("../images/v8_36.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 701px;
    left: 311px;
    overflow: hidden;
  }
  .v3_13 {
    width: 200px;
    height: 200px;
    background: url("../images/décor/boule 2.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 612px;
    left: 457px;
    overflow: hidden;
  }
  .nuages {
    width: 208px;
    height: 119px;
    background: url("../images/décor/nuage01.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 865px;
    left: 40px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
    overflow: hidden;
  }
  .v8_30 {
    width: 139px;
    color: rgba(255,254,254,1);
    position: absolute;
    top: 984px;
    left: 10px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
    font-family: Hind Madurai;
    font-weight: SemiBold;
    font-size: 24px;
    opacity: 1;
    text-align: center;
  }
  .v8_34 {
    width: 139px;
    height: 300px;
    background: url("../images/v8_34.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 624px;
    left: 129px;
    overflow: hidden;
  }
  .v8_37 {
    width: 507px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 4px;
    left: 486px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.75);
    font-family: Hind Madurai;
    font-weight: Regular;
    font-size: 96px;
    opacity: 1;
    text-align: center;
  }
  .v8_38 {
    width: 380px;
    height: 278px;
    background: url("../images/v8_38.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v8_39 {
    width: 260px;
    height: 424px;
    background: url("../images/personnages/bleach.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 206px;
    left: 0px;
    overflow: hidden;
  }
  .v8_40 {
    width: 330px;
    height: 391px;
    background: url("../images/v8_40.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 5px;
    left: 106px;
    overflow: hidden;
  }
  .v8_78 {
    width: 204px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 490px;
    left: 341px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Hind Madurai;
    font-weight: SemiBold;
    font-size: 24px;
    opacity: 1;
    text-align: center;
  }
  .v8_79 {
    width: 80px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 692px;
    left: 524px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Hind Madurai;
    font-weight: SemiBold;
    font-size: 24px;
    opacity: 1;
    text-align: center;
  }
  .v8_80 {
    width: 72px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 688px;
    left: 393px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Hind Madurai;
    font-weight: SemiBold;
    font-size: 24px;
    opacity: 1;
    text-align: center;
  }
  .v8_81 {
    width: 60px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 518px;
    left: 261px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Hind Madurai;
    font-weight: SemiBold;
    font-size: 24px;
    opacity: 1;
    text-align: center;
  }
  .v8_82 {
    width: 73px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 395px;
    left: 328px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Hind Madurai;
    font-weight: SemiBold;
    font-size: 24px;
    opacity: 1;
    text-align: center;
  }
  .v8_83 {
    width: 98px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 384px;
    left: 455px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Hind Madurai;
    font-weight: SemiBold;
    font-size: 24px;
    opacity: 1;
    text-align: center;
  }
  .boule7 {
    width: 110px;
    height: 110px;
    background: url("../images/décor/boule 7.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 290px;
    left: 450px;
    overflow: hidden;
  }
  .shenron {
    width: 320px;
    height: 622px;
    background: url("../images/shenron.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 190px;
    left: 551px;
    overflow: hidden;
  }
 