* {
    margin:0;
    padding:0;
  }
/*...........................................main..................................*/

.main_container {
   display: grid; 

   grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
   grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
   
   gap: 0px;
   width:100%;
   height: 100%;
   
}
#background {

    background-image: url("/images/décor/fond-principal.png");
    background-repeat: no-repeat;
    background-size: cover;
    grid-row-start: 2;
    grid-column-start: 1;
    grid-row-end: 8;
    grid-column-end: 9;
    
 }
  
#corner_left {

   background-image: url("/images/décor/corner_left.png"); 
   grid-row-start: 2;
   grid-column-start: 1;
   grid-row-end: 5;
   grid-column-end: 4;
   order: 2;
   background-repeat: no-repeat;
   background-size: contain;
   
}

#corner_right {

   background-image: url("/images/décor/coin_droit.png"); 
   background-repeat: no-repeat;
    background-size: contain;
    grid-row-start: 5;
    grid-column-start: 7;
    grid-row-end: 8;
    grid-column-end: 9;
    order: 2;
    background-position: bottom;
   
}
#shenron {

   background-image: url("images/shenron.png");
   grid-row-start: 2;
   grid-column-start: 1;
   grid-row-end: 8;
   grid-column-end: 9;
   background-size: contain;
   background-repeat: no-repeat;
   background-position: center;
   
   
}
#header{
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    background-color: rgba(189,37,27,1); 
    grid-row-start: 1;
    grid-column-start: 1;
    grid-row-end: 2;
    grid-column-end: 9;   
     width:100%;
   
}
#footer {

   background-color: rgba(189,37,27,1);
   grid-row-start: 8;
   grid-column-start: 1;

   grid-row-end: 9;
   grid-column-end: 9;
   width:100%;
   flex-direction: column;
   
   
}

.main{
    display:flex;
    flex-direction: column;
}

.mainTitle{
    text-align: center;
    font-size: 26px;
    color: aliceblue;
}


/*....................................erza.....................................*/

#erza{
    width:8rem;
    height:7rem;
}
.erza{
    opacity: 1;
    border: none;
    z-index: 2;    
}

/*...................................ikki.......................................*/

#ikki{
    width:8rem;
    height:7rem;
}
.ikki{
    opacity: 1;
    border: none;
    z-index: 2;
}

/*..................................top balls....................................*/
.boules_top{
    position: absolute;
    top: 6rem;
    left: 0px;
}
.boule_auteur {
    width: 6rem;
    height: 6rem;
    background: url("../images/décor/boule 1.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 8.5rem;
    opacity: 1;
    position: relative;
    left: 12rem;
    top: -2rem;
    overflow: hidden;
    border: none;
    z-index: 2;
    font-size: 15px;
    font-weight: bold;
    font-weight: bold;
    text-shadow: -1px 1px 0px #fafafa;
    
}
.boule_shonen {
    width: 6rem;
    height: 6rem;
    background: url("../images/décor/boule 2.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 5rem;
    opacity: 1;
    position: relative;
    top: -1rem;
    left: 0rem;
    overflow: hidden;
    border: none;
    z-index: 2;
    font-size: 15px;
    font-weight: bold;
    font-weight: bold;
    text-shadow: -1px 1px 0px #fafafa;
    
}
.boule_seinen {
    width: 6rem;
    height: 6rem;
    background: url("../images/décor/boule 3.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 9rem;
    opacity: 1;
    position: relative;
    top: 2rem;
    left: -11rem;
    overflow: hidden;
    border: none;
    z-index: 2;
    font-size: 15px;
    font-weight: bold;
    font-weight: bold;
    text-shadow: -1px 1px 0px #fafafa;
    
}
.boule_shojo {
    width: 6rem;
    height: 6rem;
    background: url("../images/décor/boule 4.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 9rem;
    opacity: 1;
    position: absolute;
    top: 7.5rem;
    left: 0rem;
    overflow: hidden;
    border: none;
    z-index: 2;
    font-size: 15px;
    font-weight: bold;
    font-weight: bold;
    text-shadow: -1px 1px 0px #fafafa;
    
}
/*..................................bottom balls....................................*/
.boule_liseuse {
    width: 6rem;
    height: 6rem;
    background: url("../images/décor/boule 5.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 6rem;
    opacity: 1;
    position: absolute;
    top: 28rem;
    left: 20rem;
    overflow: hidden;
    border: none;
    z-index: 2;
    font-size: 15px;
    font-weight: bold;
    text-shadow: -1px 1px 0px #fafafa;
}
.boule_videos {
    width: 9rem;
    height: 9rem;
    background: url("../images/décor/boule 4.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 10rem;
    opacity: 1;
    position: absolute;
    top: 38rem;
    left: 13rem;
    overflow: hidden;
    border: none;
    z-index: 2;
    font-size: 15px;
    font-weight: bold;
    font-weight: bold;
    text-shadow: -1px 1px 0px #fafafa;
}

.boule_artbooks {
    width: 9rem;
    height: 9rem;
    background: url("../images/décor/boule 4.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 10rem;
    opacity: 1;
    position: absolute;
    top: 33rem;
    left: 17rem;
    overflow: hidden;
    border: none;
    z-index: 2;
    font-size: 15px;
    font-weight: bold;
    font-weight: bold;
    text-shadow: -1px 1px 0px #fafafa;
}
/*......................persos sur nuages..................*/

.design_persos_petits{
    display: flex;
    justify-content: space-around;
}

.Jiraya{
    width: 5rem;
    height: 4rem;
    background: url("../code/images/personnages/giraya_petit02.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1rem;
    opacity: 1;
    overflow: hidden;
    border: none;
    z-index: 2;
}


/*......................footer..................*/

footer{
    width:100%;
    height:80px;
    background-color: rgba(189,37,27,1);
    display:flex;
    align-content: flex-end;
    
}

.buttons_footer{
    display:flex;
    justify-content: space-around;
    z-index: 2;
}

/*..........................design nuages..........................*/

.design_nuages{
    display: flex;
    justify-content: space-around;
}
.nuages{
    width: 5rem;
    height: 4rem;
    background: url("../images/décor/nuage01.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1rem;
    opacity: 1;
    overflow: hidden;
    border: none;
    z-index: 2;
}
.nuages1{
    width: 5rem;
    height: 4rem;
    background: url("../images/décor/nuage01.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1rem;
    opacity: 1;
    overflow: hidden;
    border: none;
    z-index: 2;
}
.nuages2{
    width: 5rem;
    height: 4rem;
    background: url("../images/décor/nuage01.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1rem;
    opacity: 1;
    overflow: hidden;
    border: none;
    z-index: 2;
}
.nuages3{
    width: 5rem;
    height: 4rem;
    background: url("../images/décor/nuage01.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1rem;
    opacity: 1;
    overflow: hidden;
    border: none;
    z-index: 2;
}





